{%extends 'all-gallery/base.html'%}
{% block content %}
{{ block.super}}
<div class="welcome">
    <div class="holder">
        <h2 id="category">Compel the audience. Capture the moment. Light with purpose</h2>
        <form role="form" class="pt-3" action="/search">
            <div class="form-group">
                <input type="text" class="form-control mt-5 " placeholder="&#xF002; Search image in category"
                    style="font-family:Arial, FontAwesome" name="category" required>
                <small>Top Searches: Travel, Food, Animals</small><br>
                <button type="submit" class="btn btn-warning mt-1">SEARCH</button>
            </div>
        </form>
        <!-- <a href="#gallery" class="btn btn-warning explore">EXPLORE GALLERY</a> -->
    </div>
</div>
<div class="container mt-5">

    <div class="row gallery p-3" id="gallery">
        {%for photo in images%}
        <div class="col-sm-8 col-lg-3 mb-3 imgdisplay"  data-toggle="modal" data-target="#{{photo.id}}">
            <img src="{{photo.image.url}}" alt=" " class="card-img photo" height="200">
            <small id="photoDesc">{{photo.name}}</small>
        </div>
        <!-- <div class="col-md-4">
            <div class="card" style="width: 18rem"; data-toggle="modal" data-target="#{{photo.id}}">
                <img src="{{photo.image.url}}" alt="{{photo.name}}" class="card-img copy">
            </div>
        </div> -->
        <div class="modal fade" id="{{photo.id}}" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                    <div class="modal-content modalcard">
                        <div class="modal-header">
                            <h6 class="modal-title" id="imageheader">{{photo.name}}  | {{photo.location}}</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="{{photo.image.url}}" alt="{{photo.name}}" class="img-fluid">
                            <p class="text-center mt-1">{{photo.description}}</p>
                            
                        </div>
                        <div class="modal-footer">
                            <input class="form-control" type="text" value="{{photo.image.url}}" id="{{photo.id}}.url">
                            <button class="btn btn-outline-success btn-sm" onclick="copypath('{{photo.id}}.url')">Copy</button>
                            <!-- <button class="btn btn-success btn-sm link" id="lol" onclick="download('{{photo.id}}.url')">download</button> -->
                            <!-- <a src="{{photo.image.url}}" id="lol" download><i class="fa fa-download" aria-hidden="true" id="cl"></i></a> -->
                            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>
</div>

{% endblock %}