{%extends 'all-gallery/base.html'%}
{% load static%}
{% block content %}
{{ block.super}}
<div class="welcom">
    <div class="holde">
        <h2>Images from {{message}}</h2>
    </div>
</div>
<div class="container mt-5">

    {% if images%}

    <div class="row gallery p-3" id="gallery">
        {%for photo in images%}
        <div class="col-sm-8 col-lg-3 mb-3 imgdisplay"  data-toggle="modal" data-target="#{{photo.id}}">
            <img src="{{photo.image.url}}" alt=" " class="card-img photo" height="200">
            <small id="photoDesc">{{photo.name}}</small>
        </div>
        <!-- <div class="col-md-4">
            <div class="card" style="width: 18rem"; data-toggle="modal" data-target="#{{photo.id}}">
                <img src="{{photo.image.url}}" alt="{{photo.name}}" class="card-img copy">
            </div>
        </div> -->
        <div class="modal fade" id="{{photo.id}}" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                    <div class="modal-content modalcard">
                        <div class="modal-header">
                            <h6 class="modal-title" id="imageheader">{{photo.name}}  | {{photo.location}}</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="{{photo.image.url}}" alt="{{photo.name}}" class="img-fluid">
                            <p class="text-center mt-1">{{photo.description}}</p>
                            
                        </div>
                        <div class="modal-footer">
                            <input class="form-control" type="text" value="{{photo.image.url}}" id="{{photo.id}}.url" readonly>
                            <button class="btn btn-outline-success btn-sm link" id="lol" onclick="download('{{photo.id}}.url')"><i class="fa fa-download" aria-hidden="true" id="cl"></i></button>
                            <button class="btn btn-outline-success btn-sm" onclick="copypath('{{photo.id}}.url')">Copy</button>
                            <!-- <button class="btn btn-success btn-sm link" id="lol" onclick="download('{{photo.id}}.url')">download</button> -->
                            <!-- <a src="{{photo.image.url}}" id="lol" download><i class="fa fa-download" aria-hidden="true" id="cl"></i></a> -->
                            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-4">
            <img src="{%static 'photos/found.jpeg'%}" alt="">
        </div>
        <div class="col-md-6 pt-4">
            <h3>No images in this category yet, check for updates later.</h3>
        </div>
    </div>
       
        
    
    {% endif %}
</div>

{%endblock%}
