@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Lato:ital,wght@0,400;1,300&display=swap');
body{
    font-family: 'Lato', sans-serif;
    /* background-color: rgb(248, 246, 246) !important; */
}

.welcome{
    background-image: url(/static/photos/frt.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;

    background-position: center;
    background-size: cover;
    height: 450px;
    color: white;
    text-align: center;
    
}
.holder{
    background-color:rgb(0,0,0,0.6) !important;
    height: 450px;
    margin: 0% !important;
    padding: 8% 5px 2px 5px;
}
.welcom{
    background-image: url(/static/photos/frt.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    height: 200px;
    color: white;
    text-align: center;
    
}
.holde{
    background-color:rgb(0,0,0,0.6) !important;
    height: 200px;
    margin: 0% !important;
    padding: 4% 5px 2px 5px;
}
.navbar{
    background-color: white !important;
    padding-right: 2%;
}
.logo{
    width: 40px;
    padding: 0% !important;
}
.navbar-brand{
    font-family: 'Aladin', cursive;
    font-size: 25px !important;
}
.active{
    font-weight: 600;
}
.explore{
    margin-top: 7%;
}
.modal-body img{
    height: 200px !important;
    width: 100% !important;
}
.copy{
    transition: transform .2s;
}
.copy:hover{
    transform: scale(1.3);
}
.gallery .imgdisplay{
    position: relative;
}
#photoDesc{
    /* border: solid 3px; */
    text-align: left;
    /* border-color: white; */
    width: 91%;
    /* height: 80%; */
    background-color:rgb(0,0,0,0.4) !important;
    position: absolute;
    top: 0px;
    padding-top: 5px;
    padding-left: 30%;
    margin-left: -91%;
    color: white; 
    font-weight: 900;
}
/* .modal-content {
    background-color: rgb(0,0,0,0.9) !important;
    color: white;
} */
.gallery img{
    width: 100%;
    /* height: 100%; */
}

@media only screen and (min-width: 768px) {
    .navbar-nav{
        padding-left: 160px !important;
    }
    .nav-item{
        padding-left: 50px;
    }
    .welcome input {
        margin-left: 23%;
        width: 55% !important;
    }
    .welcom input{
        margin-left: 23%;
        width: 55% !important;
    }
  }

